.customContainer {
  min-height: calc(100vh - 56px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  flex-grow: 1;
}

.spinner {
  position: absolute;
  top: 50%;
}

.alert {
  width: 55vw;
}

.leaderboardContainer {
  border: 3px solid #d9d9d9;
  width: 55vw;
  height: 55vh;
  overflow-y: auto;
  scrollbar-width: none;
  background-color: white;

}

.leaderboardContainer::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}
